@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.ant-select-selector:hover,
.ant-select-selector:focus-within {
    border: 1px solid theme("colors.cyan.600") !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
